/*  my */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nhk\/WebstormProjects\/ReadingRoom\/app\/styles\/bookshelf\.scss}line{font-family:\000033}}
.promotion {
  width: 100%;
  height: 600px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nhk\/WebstormProjects\/ReadingRoom\/app\/styles\/bookshelf\.scss}line{font-family:\000037}}
.user-salutation {
  margin-right: 5%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nhk\/WebstormProjects\/ReadingRoom\/app\/styles\/bookshelf\.scss}line{font-family:\0000311}}
#register-dlg-footer {
  margin-top: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nhk\/WebstormProjects\/ReadingRoom\/app\/styles\/bookshelf\.scss}line{font-family:\0000315}}
#bookshelf-dropzone {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nhk\/WebstormProjects\/ReadingRoom\/app\/styles\/bookshelf\.scss}line{font-family:\0000318}}
.book-ad {
  position: relative;
  display: inline-block;
  margin: 17px;
  padding: 5px;
  box-sizing: border-box;
  /*width: 120px;
  min-height: 160px; */
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.16);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.16);
  font-size: 14px;
  vertical-align: top;
  border: 1px solid #acacac;
  opacity: 0;
  animation: fadeIn 2s ease-out 0s 1;
  animation-fill-mode: forwards;
  -moz-animation: fadeIn 2s ease-out 0s 1;
  -moz-animation-fill-mode: forwards;
  -webkit-animation: fadeIn 2s ease-out 0s 1;
  -webkit-animation-fill-mode: forwards;
  -o-animation: fadeIn 2s ease-out 0s 1;
  -o-animation-fill-mode: forwards;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nhk\/WebstormProjects\/ReadingRoom\/app\/styles\/bookshelf\.scss}line{font-family:\0000345}}
.book-title {
  font-size: 100%;
  width: 100%;
  height: 20px;
  text-align: center;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nhk\/WebstormProjects\/ReadingRoom\/app\/styles\/bookshelf\.scss}line{font-family:\0000352}}
.book-ad a img {
  position: relative;
  width: 100%;
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nhk\/WebstormProjects\/ReadingRoom\/app\/styles\/bookshelf\.scss}line{font-family:\0000357}}
.percent {
  position: absolute;
  width: 80%;
  height: 14px;
  z-index: 1;
  text-align: center;
  font-size: 0.8em;
  color: #003333;
  /*white;*/
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nhk\/WebstormProjects\/ReadingRoom\/app\/styles\/bookshelf\.scss}line{font-family:\0000366}}
.progress-bar {
  width: 90%;
  height: 14px;
  border-radius: 10px;
  border: 1px solid #CCC;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#fffffa));
  background: linear-gradient(to right, #ffffff, #fffffa);
  border-image: initial;
  margin-left: auto;
  margin-right: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nhk\/WebstormProjects\/ReadingRoom\/app\/styles\/bookshelf\.scss}line{font-family:\0000377}}
.uploaded {
  padding: 0;
  height: 14px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
  background: linear-gradient(to right, #66cc00, #4b9500);
  border-image: initial;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nhk\/WebstormProjects\/ReadingRoom\/app\/styles\/bookshelf\.scss}line{font-family:\0000385}}
.dropzone {
  width: 25px;
  height: 45px;
  border: 1px solid #ccc;
  text-align: center;
  font-family: Arial;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nhk\/WebstormProjects\/ReadingRoom\/app\/styles\/bookshelf\.scss}line{font-family:\0000393}}
.image-container {
  width: 300px;
  height: 300px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nhk\/WebstormProjects\/ReadingRoom\/app\/styles\/bookshelf\.scss}line{font-family:\0000397}}
.image-container img {
  max-width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nhk\/WebstormProjects\/ReadingRoom\/app\/styles\/bookshelf\.scss}line{font-family:\00003101}}
.dz-message {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nhk\/WebstormProjects\/ReadingRoom\/app\/styles\/bookshelf\.scss}line{font-family:\00003105}}
.drop-here {
  font-size: 200%;
  font-family: "Lucida Grande";
  display: inline-block;
  position: absolute;
  left: 30%;
  top: 50%;
  opacity: 1;
  animation: fadeOut 3s ease 1s 1;
  animation-fill-mode: forwards;
  -moz-animation: fadeOut 3s ease 1s 1;
  -moz-animation-fill-mode: forwards;
  -webkit-animation: fadeOut 3s ease 1s 1;
  -webkit-animation-fill-mode: forwards;
  -o-animation: fadeOut 3s ease 1s 1;
  -o-animation-fill-mode: forwards;
}

/*********************************************/
/*                                           */
/*               Animations                  */
/*                                           */
/*********************************************/
/*  fadeIn  */
@keyframes fadeIn {
  /* line 133, bookshelf.scss */
  from {
    opacity: 0;
  }

  /* line 134, bookshelf.scss */
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  /* line 138, bookshelf.scss */
  from {
    opacity: 0;
  }

  /* line 139, bookshelf.scss */
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  /* line 142, bookshelf.scss */
  from {
    opacity: 0;
  }

  /* line 143, bookshelf.scss */
  to {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  /* line 146, bookshelf.scss */
  from {
    opacity: 0;
  }

  /* line 147, bookshelf.scss */
  to {
    opacity: 1;
  }
}

/*  fadeOut  */
@keyframes fadeOut {
  /* line 153, bookshelf.scss */
  from {
    opacity: 1;
  }

  /* line 154, bookshelf.scss */
  to {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  /* line 158, bookshelf.scss */
  from {
    opacity: 1;
  }

  /* line 159, bookshelf.scss */
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  /* line 162, bookshelf.scss */
  from {
    opacity: 1;
  }

  /* line 163, bookshelf.scss */
  to {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  /* line 166, bookshelf.scss */
  from {
    opacity: 1;
  }

  /* line 167, bookshelf.scss */
  to {
    opacity: 0;
  }
}

/*********************************************/
/*                                           */
/*               Responsive                  */
/*                                           */
/*********************************************/
@media screen and (max-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nhk\/WebstormProjects\/ReadingRoom\/app\/styles\/bookshelf\.scss}line{font-family:\00003176}}
  .book-title {
    font-size: 80%;
  }
}
@media screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nhk\/WebstormProjects\/ReadingRoom\/app\/styles\/bookshelf\.scss}line{font-family:\00003182}}
  .book-title {
    font-size: 60%;
  }
}
