<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

      <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/bookshelf.css">
        <link rel="stylesheet" href="styles/book.css">
        <link rel="stylesheet" href="styles/reviews.css">

      <!-- endbuild -->
</head>
  <body ng-app="readingRoomApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <div class="container" ng-controller="AccountController" ng-cloak="">

        <div class="header" style="margin-bottom: 1px">
            <ul class="nav nav-pills pull-right" ng-hide='user.logged'>
                <li><a href="#" ng-click="openLoginDlg()">Log in</a></li>
                <li><a href="#" ng-click="openRegisterDlg()">Register</a></li>
                <li><a class="btn btn-link pull-right" ng-click="showReviews()"> Reviews</a></li>
            </ul>
            <div class="pull-right user-salutation" ng-show='user.logged'>
                <div class="dropdown pull-left">
                    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown">
                        Hi, {{ user.firstName }}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="">Edit profile</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="openLogoutDlg()">Log out</a></li>
                    </ul>
                </div>
                <a class="btn btn-link pull-right" ng-click="showReviews()"> Reviews</a>
            </div>
            <!--ul class="nav nav-pills pull-right" ng-show='user.logged'>
                <li ><a>Hi, {{ user.firstName }}</a></li>
                <li ><a href="#" >Edit profile</a></li>
                <li ><a href="#" >Log out</a></li>
            </ul-->
            <h3 class="text-muted">Reading Room</h3>
        </div>

        <!-- Add your site or application content here -->
        <div>
            <div ng-view=""></div>
        </div>

        <login-dlg></login-dlg>
        <logout-dlg></logout-dlg>
        <register-dlg></register-dlg>
        <reminder-dlg></reminder-dlg>
        <review></review>
        <!--profile-dlg></profile-dlg-->

        <div class="footer">
            <p>
                ♥ from
                <a class="btn-link" href="http://www.theklub.info:3000" target="_blank">
                    TheKlub
                </a>
                team
            </p>
        </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!--script src="https://rawgithub.com/mozilla/pdf.js/gh-pages/build/pdf.js"></script>
    <script src="https://rawgithub.com/mozilla/pdf.js/gh-pages/build/pdf.worker.js"></script-->
    <script src="pdfjs/pdf.js"></script>
    <script src="pdfjs/pdf.worker.js"></script>

    <!-- build:js scripts/plugins.js -->
    <script src="bower_components/sass-bootstrap/js/affix.js"></script>
    <script src="bower_components/sass-bootstrap/js/alert.js"></script>
    <script src="bower_components/sass-bootstrap/js/button.js"></script>
    <script src="bower_components/sass-bootstrap/js/carousel.js"></script>
    <script src="bower_components/sass-bootstrap/js/transition.js"></script>
    <script src="bower_components/sass-bootstrap/js/collapse.js"></script>
    <script src="bower_components/sass-bootstrap/js/dropdown.js"></script>
    <script src="bower_components/sass-bootstrap/js/modal.js"></script>
    <script src="bower_components/sass-bootstrap/js/scrollspy.js"></script>
    <script src="bower_components/sass-bootstrap/js/tab.js"></script>
    <script src="bower_components/sass-bootstrap/js/tooltip.js"></script>
    <script src="bower_components/sass-bootstrap/js/popover.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/modules.js -->
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/mainCtrl.js"></script>
    <script src="scripts/services/accountSrvc.js"></script>
    <script src="scripts/controllers/accountCtrl.js"></script>
    <script src="scripts/directives/AccountDirective.js"></script>
    <script src="scripts/directives/KlbAfterError.js"></script>
    <script src="scripts/directives/PasswordReminder.js"></script>
    <script src="scripts/directives/FileDndDctv.js"></script>
    <script src="scripts/services/CountriesSrvc.js"></script>
    <script src="scripts/services/UserSrvc.js"></script>
    <script src="scripts/controllers/BookshelfCtrl.js"></script>
    <script src="scripts/directives/BookUploadDctv.js"></script>
    <script src="scripts/directives/ReviewDctv.js"></script>
    <script src="scripts/directives/FadeMenuDctv.js"></script>
    <script src="scripts/services/BookshelfSrvc.js"></script>
    <script src="scripts/controllers/BookCtrl.js"></script>
    <script src="scripts/services/BookSrvc.js"></script>
    <script src="scripts/services/ReviewSrvc.js"></script>

    <!--script src="https://rawgithub.com/akrennmair/ng-pdfviewer/ed053c7c8030fee678d8c854376b55d8de42b76d/dist/ng-pdfviewer.min.js"></script-->
    <script src="scripts/services/pdf_viewer.js"></script>


    <script src="scripts/directives/BookToolbarDctv.js"></script>
    <script src="scripts/directives/IntOnlyDctv.js"></script>
    <script src="scripts/directives/TextViewerDctv.js"></script>
    <script src="scripts/services/TextViewerSrvc.js"></script>

    <script src="scripts/libs/jquery-cookie-master/jquery.cookie.js"></script>
    <script src="scripts/libs/validator/klub-validator.js"></script>
    <script src="scripts/directives/SetFocusDctv.js"></script>
    <script src="scripts/filters/SearchReviewFilter.js"></script>
    <script src="scripts/directives/AddReviewDctv.js"></script>
    <!-- endbuild -->

    <!--script src="//localhost:35729/livereload.js"></script-->
</body>
</html>
