<div id="single-book">
    <div class="row">
        <ol class="breadcrumb" style='background-color: inherit'>
            <li class="active"><h3>Bookshelf</h3></li>
        </ol>
    </div>
    <div class='row'>
        <div class='col-md-12 col-xs-12'>

        </div>
    </div>
    <div class='row'>
        <div class='col-md-12 col-xs-12'>
            <span class="glyphicon glyphicon-fast-backward pull-left" style="color:red"></span>
            <span class="glyphicon glyphicon-step-backward pull-left"></span>
            <span class="glyphicon glyphicon-step-forward pull-right"></span>
            <span class="glyphicon glyphicon-fast-forward pull-right"></span>
        </div>
    </div>
</div>