<div class="row">
    <div class='col-md-12 col-xs-12'>
        <ol class="breadcrumb" style='background-color: inherit'>
            <li class="active"><h4>Bookshelf</h4></li>
        </ol>
    </div>
</div>
<div class='row'>
   <div class='col-md-12 col-xs-12'>
        <div fade-menu class="book-ad col-md-2 col-xs-2" ng-repeat="book in reader.bookshelf" >
            <button class="book-menu button btn-default close" ng-click="deleteBook(book)">&times;</button>
            <a href="#/book/{{ book.title }}" title="Click to open '{{ book.title }}'">
                <img ng-src="{{ book.icon }}"/>
            </a>
            <div class="book-title"> {{ book.title }} </div>
        </div>
        <div class="book-ad col-md-2 col-xs-2" file-dropzone="[text/plain, image/png, image/jpeg, image/gif]"
             data-max-file-size="30" file="image" file-name="imageFileName" book-upload>
            <a title="Drop file here">
                <img ng-src="../images/drop-here.png"/>
            </a>
            <div ng-show="progressVisible">
                <div class="percent">{{progress}}%</div>
                <div class="progress-bar">
                    <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
                </div>
            </div>
            <div class="book-title">
                <span> Drop book here</span>
            </div>
        </div>
        <!--div class="image-container">
            <img ng-src={{image}} />
            <span class="file-name">{{imageFileName}}</span>
        </div-->
    </div>

</div>
<div class="row">
    <div class='col-md-12 col-xs-12'>
        <div class="alert alert-danger text-center" ng-show="errorMsg !== null">{{ errorMsg }}
            <button class="button btn-default close" ng-click="errorMsg = null">&times;</button>
        </div>

    </div>
</div>


<add-book-dlg></add-book-dlg>