<div id="single-book" ng-init="getBookContent()">
    <div class="row">
        <ol class="breadcrumb" style='background-color: inherit'>
            <li><a href="#/bookshelf">Bookshelf</a></li>
            <li class="active">{{ currentBook.title }}</li>
        </ol>
    </div>

    <book-toolbar></book-toolbar>

    <div class='row' style="overflow: auto; padding-left:10px; padding-right:10px;">
         <div style="float:none; margin-left: auto; margin-right: auto; display: table" ng-switch on="currentBook.type">
            <div pdfviewer src="{{ currentBook.link }}" on-page-load="pageLoaded(page,total)" id="viewer"
                      ng-switch-when="application/pdf" page="{{ pageNum }}">
            </div>
            <!--iframe src=""  style="width:100%; height:100%;" frameborder="10" ng-switch-when="application/pdf">
                <pdfviewer src="{{ currentBook.link }}" on-page-load="pageLoaded(page,total)" id="viewer"
                       ng-switch-when="application/pdf">
                </pdfviewer>
            </iframe-->
            <!--div id="pdf-content" style="width:400px; height:400px; margin-left: auto; margin-right: auto; display: inline-block">
            </div-->
            <!--view-pdf class="page-container" src="{{ currentBook.link }}" ng-switch-when="application/pdf">
            </view-pdf-->

            <div txtviewer on-page-load="pageLoaded(page,total)" id="txt-viewer" ng-switch-when="text/plain" >
                Text container
            </div>

             <div ng-switch-default>
                <img ng-src="{{currentBook.link}}"/>
             </div>
        </div>
    </div>

     <book-toolbar></book-toolbar>
</div>