<div>
    <script type="text/ng-template" id="myLogin">
        <form role="form" id='login-form' novalidate="novalidate">
            <div class="modal-header">
                <button class="btn btn-default close" ng-click="cancel()">&times;</button>
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body" klb-after-error>
                 <div class="form-group">
                    <label for="username">E-mail</label>
                    <input class='form-control' type='email'  placeholder="E-mail"
                           id='username' autocomplete='off' ng-model="res_1" set-focus='true'/>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password"
                           autocomplete='off' ng-model="res_2"/>
                </div>

                <div class="form-group">
                    <div class="checkbox col-md-8 col-xs-8">
                        <label>
                            <input type="checkbox" ng-model="res_3">
                            Remember me
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox col-md-4 col-xs-4">
                        <a href="#" ng-click="passwordReminder()" >Forgot password?</a>
                    </div>
                </div>

            </div>

            <div class="row" ng-show="loginErr !== ''">
                <div class='col-md-12 col-xs-12'>
                    <div class="alert alert-danger text-center" style='white-space:normal'>{{ loginErr }}
                        <button class="button btn-default close" ng-click="loginErr = ''">&times;</button>
                    </div>
                 </div>
            </div>
            <div class="row">
                <div class='col-md-12 col-xs-12'>
                    <div class="alert alert-success text-center" style='white-space:normal' ng-show="loginInfo !== ''">{{ loginInfo }}
                        <button class="button btn-default close" ng-click="loginInfo = ''">&times;</button>
                    </div>
                 </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-sm" ng-click="ok(res_1, res_2, res_3)">Log in</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
            </div>
            <div class="modal-footer" style="text-align: center; ">
                Or log in with:
                <a class="btn-link" ng-href='/login/fb'>
                    <img ng-src="../images/facebook-icon (1).png" title="Facebook"/>
                </a>
                <!--a class="btn btn-link" disabled='disabled' ng-click="loginGoogle()">
                    <img ng-src="../images/google-icon (1).png" title="Google"/>
                </a-->

            </div>
        </form>
    </script>
</div>

