<div>
    <script type="text/ng-template" id="myLogout">
        <form role="form">
            <div class="modal-header">
                <button class="button btn-default close" ng-click="cancel()">&times;</button>
                <h4 class="modal-title">Logout</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="username">Already leaving us?</label>
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-sm" ng-click="ok_out()">Bye</button>
                <button class="btn btn-default btn-sm" ng-click="cancel_out()">Cancel</button>
            </div>
        </form>
    </script>
</div>

<!--div id="logout-form">
    <div class="login_title">
        <span> Log out </span>
        <div class="login_cancel close" ng-click='close(null)'>
        </div>
    </div>

    <form class="logout_form">
        <fieldset>
            <div class="fields_container" style="text-align:center">
                <span class="login_label"> Already leaving us? </span>

                <input class="login_input" type="text" value="" name="empty"
                       style="visibility:hidden"/>

                <input klb-button type="submit" value="Log out" ng-click="close(true)" />
            </div>
        </fieldset>
    </form>
</div-->