<div>
    <script type="text/ng-template" id="myRegister">
        <form role="form" id='register-form'>
            <div class="modal-header">
                <button class="button btn-default close"  ng-click="cancelReg()">&times;</button>
                <h4 class="modal-title">Register</h4>
            </div>
            <div class="modal-body" klb-after-error>
                <div class="form-group">
                    <label for="firstname-r"> First name: </label>
                    <input class="form-control" type="text" ng-model="user.firstName"
                           id="firstname-r" autocomplete='off' set-focus='true'/>
                </div>

                <div class="form-group">
                    <label for="lastname-r"> Last name: </label>
                    <input class="form-control" type="text" ng-model="user.lastName"
                           id="lastname-r"  autocomplete='off'/>
                </div>

                <div class="form-group">
                    <label for="username-r"> User name: </label>
                    <input class="form-control" type="text"  ng-model="user.userName"
                           id="username-r"  autocomplete='off'/>
                </div>

                <div class="form-group">
                    <label for="password1-r"> Password </label>
                    <input class="form-control" type="password"  ng-model="user.password"
                           id="password1-r"  autocomplete='off'/>
                </div>

                <div class="form-group">
                    <label for="password2-r"> Confirm password </label>
                    <input class="form-control" type="password"
                           id="password2-r"  autocomplete='off'/>
                </div>

                <div class="form-group">
                    <label for="country-r"> Country: </label>
                    <select class="form-control" id="country-r" ng-model="user.country"
                            ng-options="c for c in countries.list">
                    </select>
                </div>

                <div class="form-group">
                    <label for="email-r"> E-mail:  </label>
                    <input class="form-control" type="email" ng-model="user.email"id="email-r" autocomplete='off'/>
                </div>

                <p class="form-control-static" style="color: firebrick"> All fields are necessary !  </p>

            </div>
            <div class="row">
                <div class='col-md-12 col-xs-12'>
                    <div class="alert alert-danger text-center" style='white-space:normal' ng-show="regErr !== ''">{{ loginErr }}
                        <button class="button btn-default close" ng-click="regErr = ''">&times;</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id='register-dlg-footer'>
                <button type="submit" class="btn btn-primary btn-sm" ng-click="okReg()">Ok</button>
                <button class="btn btn-default btn-sm" ng-click="cancelReg()">Cancel</button>
            </div>
        </form>
    </script>

    <!--button class="btn btn-default" ng-click="open()">Open me!</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div-->
</div>

<!--div id="register_form" ng-controller="accountController">
    <div class="login_title">
        <span> Register </span>
        <div class="login_cancel close" ng-click='close(false)'></div>
    </div>
    
    <form class="register_form">
        <fieldset>
            <div class='fields_container' klb-after-error>
                <label class="login_label" for="firstname-r"> First name: </label>
                <input class="login_input" type="text" ng-model="user.firstname"
                       name="firstname" id="firstname-r" autocomplete='off' autofocus/>

                <label class="login_label" for="lastname-r"> Last name: </label>
                <input class="login_input" type="text" ng-model="user.lastname"
                       name="lasttname"  id="lastname-r"  autocomplete='off'/>

                <label class="login_label" for="username-r"> User name: </label>
                <input class="login_input" type="text"  ng-model="user.username"
                       name="username"  id="username-r"  autocomplete='off'/>

                <label class="login_label" for="password1-r"> Password: </label>
                <input class="login_input" type="password"  ng-model="user.password"
                       name="password"  id="password1-r"  autocomplete='off'/>

                <label class="login_label" for="password2-r"> Confirm password:</label>
                <input class="login_input" type="password"  value=""  name="password-c"
                       id="password2-r"  autocomplete='off'/>

                <label class="login_label" for="country-r"> Country: </label>
                <select class="login_input" name="country"  id="country-r"
                        ng-model="user.country" ng-options="c for c in countries"></select>

                <br/>

                <label class="login_label" for="email-r"> E-mail:  </label>
                <input class="login_input" type="email" ng-model="user.email"
                       name="email"  id="email-r"  autocomplete='off'/>

                <div class="login_input" style="display: none">
                    <input class="login_checkbox" id="sendmessage-r" type="checkbox"  ng-model="user.notify"
                           name="sendmessage"  value="sendmessage"/>
                    <label class="login_label" for="sendmessage-r"> Send notification: </label>
                </div>
                <br/>

                <div class="error_message"></div>
                <span class="login_misc" style="color:gold"> All fields are necessary !  </span>

                <input klb-button type="submit" value="Register" ng-click='close(true)'/>
            </div>
        </fieldset>
    </form>
</div-->
