<div class="review-overlay" ng-show="showReviews">
    <span class="review-close">&times;</span>

    <div class="review-container">
        <div class="review-header text-center">
            <div class="pull-left">
                <span class="btn btn-xs review-btn" ng-click="collapseAll()">
                    <span ng-show="reviews.allCollapsed" class="glyphicon glyphicon-chevron-down" title="Expand all"></span>
                    <span ng-hide="reviews.allCollapsed" class="glyphicon glyphicon-chevron-up" title="Collapse all"></span>
                    <!--span ng-show="reviews.allCollapsed" title="Expand all">&plus;</span>
                    <span ng-hide="reviews.allCollapsed" title="Collapse all">&minus;</span-->
                </span>
                <span class="btn btn-xs move-up review-btn">
                    <!--img ng-src="../images/write-feather-icon (1).png"  title="Add review"/-->
                    <span class="glyphicon glyphicon-pencil" title="Add review"
                          ng-click="toggleAddReviewDlg()"></span>
                </span>
            </div>

            <div id="review-title" class="pull-left">Readers Reviews</div>

            <div class="pull-right move-up" >
                <div id="search-box">
                    <input type="text"  placeholder="Search" id="review-search" ng-model="searchCriteria"/>
                    <button class="btn btn-link btn-sm" >
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="row review-timeline">
            <div class="row review-item" ng-repeat="review in reviews | searchReview: searchCriteria">
                <div class="row review-title">
                    <div class="col-md-12 col-xs-12 text-center">
                        <span class="review-item-collapse-btn btn btn-xs review-btn" ng-click="collapse($index)">
                            <span ng-show="review.itemCollapsed" class="glyphicon glyphicon-chevron-down" title="Expand review"></span>
                            <span ng-hide="review.itemCollapsed" class="glyphicon glyphicon-chevron-up" title="Collapse review"></span>
                        </span>
                        <span >
                            <b>{{ review.author }}, &nbsp;&nbsp; <q>{{ review.book }}</q></b>
                        </span>
                    </div>
                </div>

                <div class="row review-item-collapsable">
                    <div class="col-md-3 col-xs-3 review-item-left">
                        <div class="review-author">
                            <span>{{ review.reviewer }}</span>
                        </div>
                        <div class="review-date">
                            <span>{{ review.date }}</span>
                        </div>
                    </div>
                    <div class="col-md-9 col-xs-9 review-item-right">
                        <p class="review-item-text">{{ review.review }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <add-review></add-review>
</div>