<link rel="stylesheet" href="styles/test.css">

<div class='t-container'>
    <header class="t-header">
        <div class="t-promo">
            <div class='t-logo'>
                <div class="t-title"> Box$Cube</div>
                <div class="t-subtitle">additional text</div>
            </div>
            <nav class="t-nav">
                <ul class="t-ul">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>
        </div>

        <div class="t-search">
            <form role="form" id='t-search-form' novalidate="novalidate">
              <input type="search" placeholder="Search for ..." />
              <input type="submit" value="Search" />
            </form>
        </div>

    </header>

    <div class='main'>
        <div class="ph-frame">
            <div class="ph-title">  title

            </div>

            <div class="ph-thumb">
                <a href="#">
                    <img ng-src="../images/photo.jpg"/>
                </a>
            </div>

            <div class="ph-rating">
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
            </div>
        </div>
        <div class="ph-frame">
            <div class="ph-title">  title

            </div>

            <div class="ph-thumb">
                <a href="#">
                    <img ng-src="../images/drop-here.png"/>
                </a>
            </div>

            <div class="ph-rating">
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
            </div>
        </div>
        <div class="ph-frame">
            <div class="ph-title">  title

            </div>

            <div class="ph-thumb">
                <a href="#">
                    <img ng-src="../images/book-icon.png"/>
                </a>
            </div>

            <div class="ph-rating">
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
            </div>
        </div>
        <div class="ph-frame">
            <div class="ph-title">  title

            </div>

            <div class="ph-thumb">
                <a href="#">
                    <img ng-src="../images/book-icon.png"/>
                </a>
            </div>

            <div class="ph-rating">
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
            </div>
        </div>
        <div class="ph-frame">
            <div class="ph-title">  title

            </div>

            <div class="ph-thumb">
                <a href="#">
                    <img ng-src="../images/book-icon.png"/>
                </a>
            </div>

            <div class="ph-rating">
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
            </div>
        </div>
        <div class="ph-frame">
            <div class="ph-title">  title

            </div>

            <div class="ph-thumb">
                <a href="#">
                    <img ng-src="../images/book-icon.png"/>
                </a>
            </div>

            <div class="ph-rating">
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
            </div>
        </div>
        <div class="ph-frame">
            <div class="ph-title">  title

            </div>

            <div class="ph-thumb">
                <a href="#">
                    <img ng-src="../images/book-icon.png"/>
                </a>
            </div>

            <div class="ph-rating">
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
            </div>
        </div>
        <div class="ph-frame">
            <div class="ph-title">  title

            </div>

            <div class="ph-thumb">
                <a href="#">
                    <img ng-src="../images/book-icon.png"/>
                </a>
            </div>

            <div class="ph-rating">
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
            </div>
        </div>
        <div class="ph-frame">
            <div class="ph-title">  title

            </div>

            <div class="ph-thumb">
                <a href="#">
                    <img ng-src="../images/book-icon.png"/>
                </a>
            </div>

            <div class="ph-rating">
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
            </div>
        </div>
        <div class="ph-frame">
            <div class="ph-title">  title

            </div>

            <div class="ph-thumb">
                <a href="#">
                    <img ng-src="../images/book-icon.png"/>
                </a>
            </div>

            <div class="ph-rating">
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
            </div>
        </div>
        <div class="ph-frame">
            <div class="ph-title">  title

            </div>

            <div class="ph-thumb">
                <a href="#">
                    <img src="../images/open-book-readme3.jpg"/>
                </a>
            </div>

            <div class="ph-rating">
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
            </div>
        </div>
        <div class="ph-frame">
            <div class="ph-title">  title

            </div>

            <div class="ph-thumb">
                <a href="#">
                    <img ng-src="../images/book-icon.png"/>
                </a>
            </div>

            <div class="ph-rating">
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
                <a href=''> <span class="glyphicon glyphicon-star"></span> </a>
            </div>
        </div>

    </div>

    <footer>

    </footer>
</div>